@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$fontColor : #fff;
$pBread : 1.1rem;
* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    background-color: #34353b;

    html {
        height: 100%;
    }

}

li,
a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

p{
    font-family: Open Sans;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 30px 10%;
    background-color: #24252A !important;
    margin-bottom: 10px;

    .logo {
        background-color: #24252A !important;
    }

    ul,
    li,
    a {
        background-color: #24252A !important;

    }
}

.logo {
    cursor: pointer;
    height: 5vh;

}

.navlinks {
    list-style: none;

    li {
        display: inline-block;
        padding: 0px 20px;

        a {
            transition: all 0.4s ease 0s;

        }

        a:hover {
            color: rgba(0, 136, 169, 1);
        }
    }
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    color: $fontColor;
    font-size: 20px;

}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

h1{
    color: $fontColor;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
}

section{
    max-width: 1500px;
    margin: auto;
    background-color: #292a2e;
    padding: 10px 10px;

    @mixin containers {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    
    .container{
        @include containers()
    }

    .container2{
        @include containers()

        
    }

    .submit{
        display: flex;
        justify-content: center;
        margin: auto;
    }

    textarea{
        width: 500px;
        height: 200px;
        margin-bottom: 5px;
    }

    p{
        color: $fontColor;
        text-align: center;
        font-size: $pBread;
        margin-top: 5px;

    }

    .bild{
        width: 700px;
        height: 500px;
        display: flex;
        margin: auto;
    }

    label{
        color: $fontColor;
    }

    .radiobtn{
        margin: 10px;
    }

    .telefonnummer{
        margin-bottom: 20px;
    }

}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #24252A;
    color: $fontColor;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;

    p{
        font-size: small;
        margin-left: 5px;
        text-align: center;
    }

    .logo{
        margin-top: 5px;
        margin-left: 5px;
        width: 100px;
        height: 30px;
        position: relative;
        left: 47%
    }
}

.footlinks{
    list-style: none;

    li {
       text-align: center;
        padding: 0px 20px;

        a {
            transition: all 0.4s ease 0s;
            font-size: small;
            
        }

        a:hover {
            color: rgba(0, 136, 169, 1);
        }
    }
}