@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$fontColor : #fff;
$pBread : 1rem;
$font2 : 2.3rem; //h2 font size
$boxes : rgb(80, 200, 120, 0.9);

* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    background-color: #34353b;

    html {
        height: 100%;
    }

}

li,
a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 30px 10%;
    background-color: #24252A !important;

    .logo {
        background-color: #24252A !important;
    }

    ul,
    li,
    a {
        background-color: #24252A !important;

    }
}

.logo {
    cursor: pointer;
    height: 5vh;

}

.navlinks {
    list-style: none;

    li {
        display: inline-block;
        padding: 0px 20px;

        a {
            transition: all 0.4s ease 0s;

        }

        a:hover {
            color: rgba(0, 136, 169, 1);
        }
    }
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    color: $fontColor;
    font-size: 20px;

}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

p{
    color: $fontColor;
    font-size: $pBread;
    line-height: 1.2;
}

section{
    max-width: 1500px;
    margin: auto;

    h1{
        color: $fontColor;
        font-size: 3rem;
        text-align: center;
    }

    h2{
        font-size: $font2;
        color: $fontColor;
        text-align: center;
        margin-top: 30px;
    }

    .omoss{
        margin-top: 10px;
        font-weight: 100px;
    }

    .företagsmotto{
        text-align: center;
        font-size: 2rem;
        background-color: rgb(80, 200, 120, 0.9);
        border-radius: 5px;
        width: 400px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        font-weight: bold;
        
    }

    .container{
        display: flex;
        margin-top: 20px;
        justify-content: space-around;
        flex-flow: row wrap;
        
    }

    .portrait{
        width: 320px;
        border: 5px solid rgb(80, 200, 120, 0.9);;
        border-radius: 5px;
        padding: 5px;
    }

    .namn{
        width: 320px;
        text-align: center;
        font-weight: bold
    }

    .beskrivning{
        margin-bottom: 20px;
        margin-top: 10px;
        width: 320px;
        display: flex;
        margin-left: auto;
    }

    p{
        font-family: Open Sans;
        line-height: 1.3;
    }

    .historik{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .roll{
        text-align: center;
        margin-top: 5px;
        
    }
}


.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #24252A;
    color: $fontColor;
    padding-bottom: 10px;
    padding-top: 10px;

    .copyright{
        font-size: small;
        margin-left: 5px;
        text-align: center;
        color: $fontColor;
    }

    .logo{
        margin-top: 5px;
        margin-left: 5px;
        width: 100px;
        height: 30px;
        position: relative;
        left: 47%
    }
}

.footlinks{
    list-style: none;

    li {
       text-align: center;
        padding: 0px 20px;

        a {
            transition: all 0.4s ease 0s;
            font-size: small;
            
        }

        a:hover {
            color: rgba(0, 136, 169, 1);
        }
    }
}