@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


$fontColor : #fff;
$pBread : 1.1rem;
$font2 : 2.3rem; //h2 font size

* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    background-color: #34353b;

    html {
        height: 100%;
    }

}

li,
a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 30px 10%;
    background-color: #24252A !important;

    .logo {
        background-color: #24252A !important;
    }

    ul,
    li,
    a {
        background-color: #24252A !important;

    }
}

.logo {
    cursor: pointer;
    height: 5vh;

}

.navlinks {
    list-style: none;

    li {
        display: inline-block;
        padding: 0px 20px;

        a {
            transition: all 0.4s ease 0s;

        }

        a:hover {
            color: rgba(0, 136, 169, 1);
        }
    }
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    color: $fontColor;
    font-size: 20px;

}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

h1{
    color: $fontColor;
    font-size: 3rem;
    text-align: center;
}

section{
    max-width: 1500px;
    margin: auto;

    .container{
        max-width: 920px;
        margin: auto;
    }

    h2{
        color: $fontColor;
        font-size: $font2;
    }

    .bild{
        max-width: 900px;
        display: flex;
    }

    p{
        color: $fontColor;
        font-size: $pBread;
        font-family: Open Sans;
        margin-bottom: 10px;
    }
    .produkt-namn{
        text-align: center;
        
    }

    @mixin borderBottom {
        // border: 3px solid $boxes;
        padding: 40px 40px;
        background-color: #292a2e;
        width: 905px;
        margin-bottom: 10px;
    }
    
    .kyckling{
        @include borderBottom();

        .produkt-link{
            text-align: center;
        }

    }

    .produkt-a{
        font-size: $pBread;
        font-style: Open Sans;
        border-bottom: 1px solid white ;
        transition: all ease 0.4s;
        color: #6186ff;
    }

    .produkt-a:hover{
        color: rgb(97,134,255, 0.7);
        
    }

    .spaghetti{
        @include borderBottom();

        .produkt-link{
            text-align: center;
        }
    }

    .tacos{
        @include borderBottom();

        .produkt-link{
            text-align: center;
        }

    }

    .referenser{
        text-align: center;
    }

    .input-text{
        margin: 5px;
        min-width: 800px;
        height: 20px;
        padding: 5px;
    }

    .input-user{
        min-width: 100px;
        margin: 5px;
        height: 20px;
        padding: 5px;
        margin-top: 20px;
    }

    .submit{
        margin: 5px;
    }
    

    .kommentarer{
        margin-top: 10px;
        background-color: white;
        min-height: 200px;
        border-radius: 5px;

        p{
            color: black;
        }

        .user{
            color: rgb(0, 89, 255);
            margin-left: 5px;
            margin-top: 5px;
        }

        .kommentar{
            margin: 0px 5px;
            
        }
    }
}


.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #24252A;
    color: $fontColor;
    padding-bottom: 10px;
    padding-top: 10px;

    p{
        font-size: small;
        margin-left: 5px;
        text-align: center;
    }

    .logo{
        margin-top: 5px;
        margin-left: 5px;
        width: 100px;
        height: 30px;
        position: relative;
        left: 47%
    }
}

.footlinks{
    list-style: none;

    li {
       text-align: center;
        padding: 0px 20px;

        a {
            transition: all 0.4s ease 0s;
            font-size: small;
            
        }

        a:hover {
            color: rgba(0, 136, 169, 1);
        }
    }
}